.btn {
  background-color: #FF3726;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
  text-shadow: none;
  padding: 3px 10px;
  border-radius: 7px;
  font-size: 5vw;
  font-weight: 600;
  opacity: .7; }

.btn:hover {
  opacity: 1; }

.btn:active, .btn:visited {
  transform: translate(1px, 4px);
  opacity: 1; }

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  font-size: 10%;
  position: relative; }

.container {
  width: 100%;
  height: 100%; }

@media only screen and (min-width: 600px) {
  .container {
    height: 80vh;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative; } }

.bkImage {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -2;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.bk {
  width: 100%;
  height: 100%;
  height: auto;
  z-index: -2;
  position: relative; }
  .bk__back {
    width: 100vw;
    height: 100vh;
    background-color: #43A6FF;
    z-index: -3; }
  .bk__top {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0; }
  .bk__bottom {
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0; }

.page1 {
  margin: 0%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 6.5vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #1B1464;
  top: 52%; }
  .page1__nameTitle, .page1__idTitle {
    margin-bottom: 1vh; }
  .page1__name, .page1__id {
    width: 65vw; }
  .page1__id {
    margin-top: -2vh; }
  .page1__nameInput, .page1__idInput {
    background-color: #1B1464;
    border-radius: 7.5px;
    padding: .45vh;
    font-weight: 500;
    font-size: 5.8vw;
    color: white;
    text-align: center; }
  .page1__idInput {
    width: 42vw; }
  .page1__submit {
    margin-top: 3vh; }
