@keyframes floting {
  0% {
    transform: scale(1);
    opacity: .8; }
  20% {
    transform: scale(1.1);
    opacity: .9; }
  40% {
    transform: scale(1.2);
    opacity: .95; }
  50% {
    transform: scale(1.4); }
  60% {
    transform: scale(1.2);
    opacity: .9; }
  80% {
    transform: scale(1.1);
    opacity: .8; }
  100% {
    transform: scale(1);
    opacity: .7; } }

@keyframes floting2 {
  0% {
    transform: scale(1);
    opacity: .8; }
  20% {
    transform: scale(1.05);
    opacity: .9; }
  40% {
    transform: scale(1.1025);
    opacity: .95; }
  50% {
    transform: scale(1.13006); }
  60% {
    transform: scale(1.1025);
    opacity: .9; }
  80% {
    transform: scale(1.05);
    opacity: .8; }
  100% {
    transform: scale(1);
    opacity: .7; } }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  background-color: #FF3726;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
  text-shadow: none;
  padding: 10px 18px;
  border-radius: 13px;
  font-size: 5vw;
  font-weight: 600;
  opacity: .8;
  transition: all 0.25s;
  position: relative;
  width: fit-content;
  animation: floting2 1.5s ease-out infinite; }

.btn:hover {
  opacity: 1; }

.btn:active, .btn:visited, .btn:active::after {
  opacity: 1;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: scaleX(1.05) scaleY(1.07); }

.warningMassage {
  color: red;
  font-size: 4.4vw;
  font-weight: 500;
  visibility: hidden; }

* {
  margin: 0;
  padding: 0; }

body {
  font-size: 10vw;
  position: relative;
  font-family: 'Roboto', sans-serif;
  height: 177.777777777777777vw;
  width: 100vw; }

.container {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center; }

@media only screen and (min-width: 960px) {
  .container {
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); } }

.author {
  position: absolute;
  bottom: 5.9vw;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: fit-content;
  font-size: 5.5vw;
  color: white;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  color: yellow;
  line-height: 180%; }
  .author__name {
    font-size: 6.5vw;
    font-weight: 800;
    color: #FF3726;
    margin-top: 2vh; }

.bk {
  z-index: -2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0; }
  .bk__back {
    width: 100%;
    height: 100%;
    background-color: #43A6FF;
    z-index: -3; }
  .bk__top {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0; }
  .bk__bottom {
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0; }
  .bk__info {
    position: absolute;
    right: 6vw;
    top: 6vw;
    font-size: 7vw;
    color: #43A6FF;
    animation: floting 1s ease-out infinite; }

.page1 {
  margin: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 6.5vw;
  font-weight: 700;
  color: #1B1464;
  width: fit-content;
  z-index: 1;
  top: 52%;
  visibility: visible; }
  .page1__name, .page1__id {
    margin: 3vw; }
  .page1__nameTitle, .page1__idTitle {
    margin-bottom: 1vw; }
  .page1__nameInput, .page1__idInput {
    background-color: #1B1464;
    border-radius: 8px;
    padding: 1.25vw 2vw;
    font-weight: 600;
    font-size: 5.8vw;
    color: white;
    text-transform: capitalize;
    text-align: center; }
    .page1__nameInput::placeholder, .page1__idInput::placeholder {
      text-align: center;
      font-weight: 500;
      font-size: 4.4vw;
      color: whitesmoke;
      opacity: .6;
      line-height: 105%; }
  .page1__idInput {
    width: 50vw;
    max-width: fit-content; }
  .page1__submit {
    margin-top: 3vw; }

.page2 {
  z-index: 2;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #1B1464;
  width: 100%;
  top: 52%;
  visibility: hidden; }
  .page2__text {
    font-size: 7.5vw;
    font-weight: 600; }
  .page2__user-name {
    color: black;
    font-weight: 800;
    font-size: 8.2vw;
    padding: 1vh 0 2vh 0;
    text-transform: capitalize; }
  .page2__batch {
    color: #FF3726;
    text-transform: uppercase;
    font-weight: 700; }
  .page2__submit {
    margin-top: 5vw; }

.page3 {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #1B1464;
  font-size: 6.5vw;
  width: 100vw;
  top: 52%;
  visibility: hidden; }
  .page3__output__name {
    font-size: 7.9vw;
    color: #FF4545;
    font-weight: 700; }
  .page3__output__description {
    margin-top: 2vw;
    display: inline-block;
    position: relative;
    font-weight: 600; }
  .page3__decMsg {
    padding-top: 10vw; }
  .page3__btn {
    padding: 5vw 2vh 0 0; }
    .page3__btn__yes {
      margin-right: 5vw;
      width: 30vw; }
    .page3__btn__no {
      margin-left: 5vw; }

.page4 {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 5.8vw;
  top: 51%;
  width: fit-content;
  visibility: hidden; }
  .page4__con {
    padding-bottom: 1.5vh; }
    .page4__con__title {
      color: #FF4545;
      padding-bottom: 2vh; }
    .page4__con__msg {
      color: #1B1464; }
  .page4__result {
    width: 95%;
    display: inline-block;
    padding-top: 1.5vh;
    font-size: 5.5vw;
    font-weight: 500; }
    .page4__result > h3:nth-child(1) {
      padding-bottom: 1.6vh;
      font-size: 140%;
      color: #FF3726; }
    .page4__result > p:nth-child(2) {
      float: left;
      width: 59%;
      text-align: right; }
    .page4__result > p:nth-child(3) {
      float: right;
      width: 36%;
      text-align: left; }
