.bkImage {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index:-2;
    @include center;
}

.bk {
    width: 100%;
    height: 100%;
    height: auto;
    z-index:-2;
    position: relative;

    &__back {
        width: 100vw;
        height: 100vh;
        background-color: $color-blue;
        z-index: -3;
    }
    &__top {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__bottom {
        height: auto;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}