*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

    font-size: 100vw;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.container {
    height: 177.777777777777777vw;
    width: 100vw;
    min-width: 360px;

}
@media only screen and (min-width: 960px) {
    .container {
        height: 80vh;
        @include center;
    }
}
.author {
    position: absolute;
    bottom: 5.9vw;
    @include center-h;
    width: fit-content;

    font-size: 5.5vw;
    color: white;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    color: yellow;
    line-height: 180%;

    &__name {
        font-size: 6.5vw;
        font-weight: 800;
        color: $color-tomato-warm;
        margin-top: 2vh;
        
    }
}