@mixin center-v {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
@mixin center-h {
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
@keyframes floting {
    0% {
        transform: scale(1);
        opacity: .8;
    }
    20% {
        transform: scale(1.1);
        opacity: .9;
    }
    40% {
        transform: scale(1.2);
        opacity: .95;
    }
    50% {
        transform: scale(1.4);
    }
    60% {
        transform: scale(1.2);
        opacity: .9;
    }
    80% {
        transform: scale(1.1);
        opacity: .8;
    }
    100% {
        transform: scale(1);
        opacity: .7;
    }  
}

@keyframes floting2 {
    0% {
        left: 0px;
    }
    25% {
        left: 5px;
    }
    50% {
        left: 0px;
    }
    75% {
        left: -5px;
    }
    100% {
        left: 0px;
    }
}

@mixin respond($breakpoint) {
    
    @if $breakpoint == tab-port {
       @media (min-width: 768px) { @content};    //768px
   }
   @if $breakpoint == tab-land {
       @media (min-width: 1024px) { @content};    //1024px
   }
   @if $breakpoint == desk {
       @media (min-width: 1280px) { @content};    //1280px
   }
}