//Page 1
.page1 {
    margin: 0%;
    @include center;
    font-size: 6.5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color:$color-voilate;
    width: fit-content;
    z-index: 1;
    //temporay value 
    display: none;
    &__name{
        margin: 3vw;
    }

    &__nameTitle, &__idTitle {
        margin-bottom: 1vh;
    }
    
    &__nameInput, &__idInput {
        background-color: $color-voilate;
        border-radius: 8px;
        padding: 1.25vw 2vw;

        font-weight: 600;
        font-size: 5.8vw;
        color: white;
        
        text-transform: uppercase;
    } 

    &__idInput {
        width: 50vw;
        max-width: fit-content;
    }

    &__submit {
        margin-top: 3vh;
    }
}

.page2{
    z-index: 2;
    position: absolute;
    @include center-v;
    color: $color-voilate;
    width: 100%;
    transform: translateY(-42%);

    //temporay value 
    display: none;

    &__text {
        font-size: 7.5vw;
        font-weight: 600;
    }

    &__user-name{
        color: black;
        font-weight: 800;
        font-size: 8.2vw;
        padding: 1vh 0 2vh 0;
    }

    &__batch {
        color: $color-tomato-warm;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__submit {
        margin-top: 5vw;
    }
}
