//Page 1
.page1 {
    margin: 0%;
    @include center;

    font-size: 6.5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    color:$color-voilate;
    width: fit-content;

    &__name{
        margin: 3vw;
    }

    &__nameTitle, &__idTitle {
        margin-bottom: 1vh;
    }
    
    &__nameInput, &__idInput {
        background-color: $color-voilate;
        border-radius: 8px;
        padding: 1.25vw 2vw;

        font-weight: 600;
        font-size: 5.8vw;
        color: white;
        text-align: center;
        text-transform: uppercase;
    } 

    &__idInput {
        width: 50vw;
        max-width: fit-content;
    }

    &__submit {
        margin-top: 3vh;
    }
}